/* form {
  grid-area: form;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-content: center;
} */

/* form input,
textarea {
  background-color: yellow;
  width: 350px;
  height: 30px;
  margin-bottom: 5px;
} */

input,
textarea {
  border-radius: 5px;
  margin-bottom: 5px;
}

input[type="date"] {
  height: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  grid-area: lform;
}

.right {
  display: flex;
  flex-direction: column;
  grid-area: rform;
}

.btngrp {
  grid-area: btn;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.btngrp > button {
  padding: 10px;
  border-radius: 10px;
}

.dataarea {
  grid-area: data;
  margin-top: 15px;
  /* width: 80vw; */
  /* position: absolute; */
  /* object-fit: fill; */
  /* column-gap: 20px; */
  /* column-width: 1fr; */
}

#datatable {
  width: 100%;
}

#datatable,
#datatable td,
#datatable th {
  border: 1px solid;
}

#datatable th {
  text-align: center;
}

.enclosure {
  /* margin: 0; */
  /* padding: 0; */
  height: 60vh;
  display: grid;
  /* grid-template-columns: auto auto auto;
  grid-template-rows: auto auto; */
  grid-template-areas: "lform rform btn" "lform rform btn" "data data data";
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: 16vh 16vh 28vh;
  border: 1px red;
  width: 80%;
  position: absolute;
  left: 5%;
  right: 5%;
  gap: 10px;
}

/* form {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 1 3;
} */
